---
title: Accessibility statement for GOV.UK Pay
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="heading-1">Accessibility statement for GOV.UK&nbsp;Pay</h1>
        <p class="govuk-body">This accessibility statement applies to the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>GOV.UK Pay pages where people make payments</li>
          <li>GOV.UK Pay website at <%= link_to 'https://www.payments.service.gov.uk', 'https://www.payments.service.gov.uk', class: 'govuk-link' %></li>
          <li>GOV.UK Pay admin tool at <%= link_to 'https://selfservice.payments.service.gov.uk', 'https://selfservice.payments.service.gov.uk', class: 'govuk-link' %></li>
          <li>GOV.UK Pay operational status page at <%= link_to 'https://payments.statuspage.io/', 'https://payments.statuspage.io/', class: 'govuk-link' %></li>
        </ul>
        <p class="govuk-body">This page explains how accessible these are, what to do if you have difficulty using them, and how to report accessibility problems.</p>
        <p class="govuk-body">
          There is a separate
          <%= link_to 'accessibility statement for GOV.UK Pay’s technical documentation', 'https://docs.payments.service.gov.uk/accessibility.html', class: 'govuk-link' %>.
        </p>
        <p class="govuk-body">
          There's also a separate <%= link_to 'accessibility statement for the main GOV.UK website', 'https://www.gov.uk/help/accessibility-statement', class: 'govuk-link' %>.
        </p>
        <h2 class="govuk-heading-m">Using this service</h2>
        <p class="govuk-body">
          This service is run by the Government Digital Service (GDS). We want as many people as possible to be able to use this service. This means you should be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>get from the start of the service to the end using just a keyboard</li>
          <li>get from the start of the service to the end using speech recognition software</li>
          <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
        <p class="govuk-body">
          <%= link_to 'AbilityNet', 'https://mcmw.abilitynet.org.uk', class: 'govuk-link' %>
          has advice on making your device easier to use if you have a disability.
        </p>
        <h2 class="govuk-heading-m">Non-compliance with accessibility criteria</h2>
        <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
        <p class="govuk-body">
          You cannot use autocomplete to populate the country field on our payment pages. This is to ensure that the country used is from the GOV.UK&nbsp;Pay validated dataset.
          Most users will not be affected, as the United Kingdom is the default value.
        </p>

        <p class="govuk-body">
          There is a 90-minute timeout on payment pages and you cannot extend your time. We do not display a message to users because this might be inaccurate due to timeouts
          imposed by third-party providers. This is not compliant with the Web Content Accessibility Guidelines version 2.2 AAA standard, section 2.2.6.
        </p>

        <p class="govuk-body">
          The following content on
          <%= link_to 'GOV.UK&nbsp;Pay’s status page', 'https://payments.statuspage.io', class: 'govuk-link' %>
          is not compliant with the Web Content Accessibility Guidelines version 2.2 AA standard. The non-compliances are listed below:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>‘Subscribe to updates’ link does not contain programmatically discernible link text (WCAG success criterion 1.3.1)</li>
          <li>‘Subscribe to updates’ form fields do not contain an explicit label (WCAG success criterion 1.3.1)</li>
          <li>‘Subscribe to updates’ forms do not indicate to users that they are expandable or collapsible (WCAG success criterion 4.1.2)</li>
          <li>
            ‘Subscribe to updates’ forms, when submitted with incorrect data, do not inform screen reader users of the error message when it becomes available (WCAG success
            criterion 4.1.3)
          </li>
        </ul>
        <p class="govuk-body">
          We are working with the supplier of
          <%= link_to 'GOV.UK&nbsp;Pay’s status page', 'https://payments.statuspage.io', class: 'govuk-link' %>
          who intend to make their service fully accessible, but they have not yet provided a fixed date for this. We will, however, make an assessment when the contract is up for
          renewal.
        </p>
        <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
        <p class="govuk-body">
          If you have difficulty using this service, contact us by sending an email to
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>.
        </p>
        <p class="govuk-body">
          If you need any part of this service in a different format like large print, audio recording or braille, email
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>.
        </p>
        <p class="govuk-body">We’ll consider your request and get back to you within 2 working days.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
        <p class="govuk-body">
          We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we’re not meeting accessibility
          requirements, email
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>.
        </p>
        <p class="govuk-body">We’ll consider your request and get back to you within 2 working days.</p>

        <h2 class="govuk-heading-m">If you’re not happy with our response</h2>
        <p class="govuk-body">
          The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations
          2018 (the ‘accessibility regulations’). If you are not happy with how we respond to your complaint,
          <%= link_to 'contact the Equality Advisory and Support Service', 'https://www.equalityadvisoryservice.com', class: 'govuk-link' %>, which is run on behalf of EHRC.
        </p>
        <h2 class="govuk-heading-m">How we tested this service</h2>
        <p class="govuk-body">The service was last tested by the Digital Accessibility Centre on 6 August 2020 who checked for compliance with WCAG 2.1 AA.</p>
        <p class="govuk-body">
          You can contact us on
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>
          to receive a copy of the full accessibility audit report.
        </p>
        <p class="govuk-body">We tested user journeys for both paying users and government service teams, including:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>setting up a test account</li>
          <li>making a demo payment</li>
          <li>setting up a payment link</li>
          <li>requesting a live account</li>
          <li>adding a team member</li>
          <li>creating a prototype link</li>
          <li>logging in to an account</li>
          <li>making a card payment</li>
          <li>making a card payment with Apple Pay and Google Pay</li>
        </ul>
        <p class="govuk-body">
          Since then, the Pay team has carried out their own testing when making changes to the service and completed an internal audit for compliance with WCAG 2.2. We are not
          aware of any failures to comply with the latest 2.2 criteria.
        </p>

        <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">
          Our <%= link_to 'roadmap', 'roadmap', class: 'govuk-link' %> includes information about how and when we plan to improve accessibility on this service.
        </p>
        <p class="govuk-body">This page was created on 10 September 2019. It was last updated on 28 October 2024.</p>
      </div>
    </div>
  </main>
</div>
