---
title: Apple Pay and Google Pay
---

<div class="govuk-width-container">
  <%= partial 'partials/breadcrumb.html.erb' %>

  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Using Apple Pay and Google Pay</h1>

        <p class="govuk-body">
          You can now take payments using
          <%=
            link_to 'Apple Pay or Google Pay',
                    'https://docs.payments.service.gov.uk/digital_wallets/#take-a-digital-wallet-payment',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Internal link clicked',
                    :class => 'govuk-link'
          %>
          on GOV.UK Pay.
        </p>

        <h2 class="govuk-heading-m">How Apple Pay and Google Pay works</h2>

        <p class="govuk-body">Any user with Apple Pay or Google Pay enabled can make payments on your service in seconds.</p>
        <p class="govuk-body">Because Apple Pay and Google already have users details, they don’t have to fill them in again on GOV.UK Pay. They simply have to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>click pay</li>
          <li>check their details which have been automatically completed</li>
          <li>confirm payment</li>
        </ul>

        <p class="govuk-body">The entire process takes users seconds.</p>

        <%=
          image_tag 'apple-pay-demo.gif',
                    alt: 'Example of creating a payment link and how the title is used to generate the payment link website address.',
                    class: 'content-section__image govuk-!-margin-bottom-6'
        %>

        <h2 class="govuk-heading-m">The Benefits of Apple Pay and Google Pay</h2>

        <p class="govuk-body">Using Apple Pay or Google Pay:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            is a more secure way to pay - your real card details are never stored or transferred and only you can authorise payment biometrically using fingerprint or facial
            recognition
          </li>
          <li>makes it quicker - the whole process takes a few seconds</li>
          <li>makes paying easier - there are no forms to fill in as all the users information is played back from Apple Pay or Google Pay before users commit to the payment</li>
          <li>reduces errors - users don’t have to retype any of their details, Apple or Google pass on their verified details</li>
        </ul>

        <p class="govuk-body">
          Using Apple Pay means you don’t have to go through 3DS or 3DS2 authentication as that security is built-in. This makes it more secure for services to take payment as a
          user can’t create a chargeback (for fraud) on a payment.
        </p>

        <h2 class="govuk-heading-m">Who can use Apple Pay and Google Pay</h2>

        <p class="govuk-body">GOV.UK Pay currently only offer Apple Pay and Google Pay with Worldpay.</p>
        <p class="govuk-body">If you enable Google Pay in your payment settings credit and debit cards will also automatically be accepted.</p>

        <h2 class="govuk-heading-m">What's next</h2>

        <p class="govuk-body">In future, we intend to offer Apple Pay and Google Pay with our payment service provider, Stripe.</p>
        <p class="govuk-body">We are also looking at including other digital wallets, for instance Samsung Pay, depending on user demand.</p>

        <h2 class="govuk-heading-m">Contact Us</h2>

        <p class="govuk-body">
          If you'd like to know more about using Apple Pay or Google Pay on GOV.UK Pay,
          <%= link_to 'contact GOV.UK Pay support.', 'support', class: 'govuk-link' %>
        </p>
      </div>
    </div>
  </main>
</div>
