---
title: Cost benefits of Pay
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">The cost benefits of using GOV.UK&nbsp;Pay</h1>

        <p class="govuk-body">GOV.UK&nbsp;Pay is designed, built and tested by government to meet the needs of the public sector and its users.</p>
        <p class="govuk-body">To help explain the costs of using Pay, we’ve set out what you do and do not pay for.</p>

        <h2 class="govuk-heading-m">What you pay for</h2>
        <p class="govuk-body">
          The Pay platform is free to use. You only pay transaction fees to your Payment Service Provider (PSP). These vary depending on the card type used and whether you choose:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>GOV.UK&nbsp;Pay’s contract with our PSP Stripe</li>
          <li>Government Banking’s contract with Worldpay</li>
        </ul>

        <p class="govuk-body">
          To learn about Stripe’s fees,
          <%= link_to 'create a Pay account', 'https://selfservice.payments.service.gov.uk/register/email-address', class: 'govuk-link' %>
          or
          <%= link_to 'sign in', 'https://selfservice.payments.service.gov.uk/login', class: 'govuk-link' %>. (It’s free to do this and there is no contractual commitment.) In the
          footer, choose either:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>GOV.UK&nbsp;Pay memorandum of understanding for Crown bodies</li>
          <li>Contract for non-crown bodies</li>
        </ul>

        <p class="govuk-body">
          For Government Banking’s Worldpay fees, email
          <%= mail_to 'serviceteam.gbs@hmrc.gov.uk', 'serviceteam.gbs@hmrc.gov.uk', class: 'govuk-link' %>.
        </p>

        <h2 class="govuk-heading-m">What you do not pay for</h2>
        <p class="govuk-body">
          There are financial advantages to using Pay that might not be obvious. They’re important to consider if you’re comparing Pay with other ways to take payments.
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Licencing:</strong> No licence fee or minimum transaction volumes.</li>
          <li><strong>Training:</strong> Pay is so easy to use, there’s no need for costly training.</li>
          <li><strong>Upgrades:</strong> No fees for new releases or supporting technical documentation.</li>
          <li><strong>New features:</strong> There’s minimal or no technical work needed to use these.</li>
          <li><strong>24/7 support:</strong> Our experts support Pay and its users Monday to Friday, 9.30am to 5.30pm, and out-of-hours in emergencies.</li>
          <li><strong>Branding:</strong> No fees to add or change the branding of your pages in Pay.</li>
          <li><strong>Regulatory compliance:</strong> Pay is compliant with PCI DSS and other industry regulations, and there are no fees for work to meet any changes.</li>
          <li>
            <strong>Accessibility:</strong> Pay's payment pages are WCAG2.1 AA compliant and meet The Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility
            Regulations 2018.
          </li>
        </ul>

        <h2 class="govuk-heading-m">Where GOV.UK&nbsp;Pay can save you time and money</h2>
        <p class="govuk-body">It’s not just the immediate cost benefits that make Pay a great choice for taking payments.</p>

        <h3 class="govuk-heading-s">User confidence</h3>
        <p class="govuk-body">
          A poor or untrustworthy online user experience can affect how users feel about a service. It can make them switch to making payments using offline channels. These can:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be less convenient to use</li>
          <li>take more time to manage</li>
          <li>be costly to process</li>
        </ul>

        <p class="govuk-body">GOV.UK&nbsp;Pay is:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>hosted on the well-known and trusted GOV.UK platform</li>
          <li>fully responsive and accessible</li>
          <li>quicker to use than offline payment methods</li>
          <li>supported 24/7</li>
        </ul>

        <h3 class="govuk-heading-s">Procurement</h3>
        <p class="govuk-body">As Pay is free to use, central government teams should be able to avoid lengthy procurement processes using either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Stripe, Pay's PSP</li>
          <li>Worldpay, through Government Banking Service</li>
        </ul>
        <p class="govuk-body">Local authorities can save time and money by not having to regularly re-procure e-payment systems. That process can take over 8 months each time.</p>

        <h3 class="govuk-heading-s">Speed of getting services live</h3>
        <p class="govuk-body">Sign up with our PSP, Stripe, and you can immediately use your account.</p>
        <p class="govuk-body">
          With
          <%= link_to 'payment links', 'govuk-payment-pages', class: 'govuk-link' %>, you can start taking payments in a day. You do not need to build a digital service to use
          them.
        </p>
        <p class="govuk-body">
          For API integrations, your teams or suppliers can use our
          <%= link_to 'technical documentation', 'https://docs.payments.service.gov.uk', class: 'govuk-link' %>
          to quickly and confidently set up services.
        </p>

        <h3 class="govuk-heading-s">Real-time data</h3>
        <p class="govuk-body">Without real-time payment data, there are risks of extra work and increased costs. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>caseworkers sending costly follow-up letters to users who’ve already paid</li>
          <li>operations teams not able to answer user questions about recent payments, resulting in callbacks</li>
        </ul>
        <p class="govuk-body">With Pay’s real-time data, your teams can always access the latest payment and refund information.</p>

        <h3 class="govuk-heading-s">Manual and automated refunds</h3>
        <p class="govuk-body">It’s quick and straightforward to make and process full and partial refunds.</p>
        <p class="govuk-body">You can find and refund payments in our Admin tool. You can automate refunds by integrating your service with our API.</p>
      </div>
    </div>
  </main>
</div>
