---
title: Get started
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get started</h1>

        <ol class="task-list">
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">1.</span> Check GOV.UK&nbsp;Pay is right for you</h2>
            <div class="task-list__details">
              <p class="govuk-body">GOV.UK&nbsp;Pay is available for government or public sector organisations that want to take payments.</p>
              <p class="govuk-body">
                Review GOV.UK&nbsp;Pay’s
                <%=
                  link_to 'top features and roadmap',
                          'using-govuk-pay',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>
                and decide if it meets your service’s needs.
              </p>
              <p class="govuk-body">
                If you'd like to find out more about GOV.UK&nbsp;Pay, we hold sessions every Tuesday from 10 am to 10:50 am to demonstrate the platform and answer questions. You
                can
                <%=
                  link_to 'register for our Eventbrite sessions here',
                          'https://www.eventbrite.co.uk/e/govuk-pay-demo-and-qa-session-tickets-815711504067?aff=oddtdtcreator',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'External link clicked',
                          :class => 'govuk-link'
                %>.
              </p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">2.</span> Create an account</h2>
            <div class="task-list__details">
              <p class="govuk-body">
                Test GOV.UK&nbsp;Pay for yourself by
                <%=
                  link_to 'creating an account',
                          'https://selfservice.payments.service.gov.uk/register/email-address',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>.
              </p>
              <p class="govuk-body">
                Explore the test environment and
                <%=
                  link_to 'connect your service to GOV.UK&nbsp;Pay',
                          'https://docs.payments.service.gov.uk/testing_govuk_pay/#testing-your-integration',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>
                to see how it’ll work for your users.
              </p>
              <p class="govuk-body">It’s easy to use and, if you decide to go live, you can use the same account details.</p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">3.</span> Share with your team</h2>
            <div class="task-list__details">
              <p class="govuk-body">
                Share information about GOV.UK&nbsp;Pay with your broader team. Managing payments usually involves people from a number of different teams: digital, operational
                delivery and finance, for example.
              </p>

              <p class="govuk-body">
                You can invite team members from the 'Settings' area of your GOV.UK&nbsp;Pay admin tool. You may want to send our
                <%=
                  link_to 'documentation',
                          'https://docs.payments.service.gov.uk',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>
                to your technical and finance teams.
              </p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">4.</span> Integrate your service with GOV.UK&nbsp;Pay</h2>
            <div class="task-list__details">
              <p class="govuk-body">
                Your technical team can find information about integrating and API references in our
                <%=
                  link_to 'documentation',
                          'https://docs.payments.service.gov.uk',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>.
              </p>

              <div class="panel panel-border-wide">
                <h3 class="govuk-heading-s">How long does it take to integrate?</h3>
                <p class="govuk-body">
                  The time taken to integrate will vary depending on team and capability; for example, it took a single developer five days to integrate a Home Office service with
                  GOV.UK&nbsp;Pay.
                </p>
              </div>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">5.</span> Payment Service Providers (PSP)</h2>
            <div class="task-list__details">
              <p class="govuk-body">
                You must have a Payment Service Provider (PSP) to process the payments taken using GOV.UK&nbsp;Pay. However, there is no procurement work required to obtain a PSP.
                This saves you time and money, and you’re not locked into a long-term contract.
              </p>
              <p class="govuk-body">The PSP you'll use depends on the type of organisation you work for:</p>

              <ol class="psp-list">
                <li>
                  <p class="govuk-body">
                    Local authorities, armed forces and police will use Stripe. Account set up is quick and easy, and you can start taking payments immediately.
                    <%= link_to 'Create an account', 'https://selfservice.payments.service.gov.uk/register/email-address', class: 'govuk-link' %>
                    to get started.
                  </p>
                </li>
                <li>
                  <p class="govuk-body">
                    Central government, NHS or arm's length bodies will use Worldpay. You will need to sign up to use the Government Banking contract. Account set up for the
                    Government Banking contract takes 4 to 6 weeks.
                    <%=
                      mail_to 'serviceteam.gbs@hmrc.gov.uk',
                              'Contact the Government Banking helpdesk',
                              'data-click-events' => '',
                              'data-click-category' => 'Content',
                              'data-click-action' => 'GBS Email link clicked',
                              :class => 'govuk-link'
                    %>
                    for more information.
                  </p>
                </li>
                <li>
                  <p class="govuk-body">
                    Further education colleges may be able to use GOV.UK Pay if they are not an 'enterprise' as described in the
                    <%= link_to 'Subsidy Control Act 2022', 'https://www.legislation.gov.uk/ukpga/2022/23/enacted', class: 'govuk-link' %>. Contact us to confirm if you're
                    eligible.
                  </p>
                </li>
              </ol>

              <p class="govuk-body">
                <%=
                  link_to 'Contact GOV.UK&nbsp;Pay support',
                          'support',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>
                with any questions.
              </p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading"><span class="task-list-section-number">6.</span> Agree to GOV.UK&nbsp;Pay’s agreements and go live</h2>
            <div class="task-list__details">
              <p class="govuk-body">
                When you’re ready to go live, sign in to your account and follow the
                <%=
                  link_to 'go live steps',
                          'https://docs.payments.service.gov.uk/switching_to_live/before_you_switch_to_live/#before-you-switch-to-live',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>.
              </p>
              <p class="govuk-body">
                As part of this process your organisation needs to agree to the terms and conditions of our Memorandum of Understanding (for Crown organisations) or contract (for
                non-Crown organisations) and provide some information about your organisation. You can find a link to the agreements in the page footer when you are signed in to
                your account. You’ll need to accept the terms before you can take payments.
              </p>
              <p class="govuk-body">If you are using GOV.UK&nbsp;Pay’s PSP Stripe, you will also need to accept the terms of the Stripe agreement.</p>
              <p class="govuk-body">
                When you are live, you need to configure your account with your PSP. There’s advice about how to do this in our
                <%=
                  link_to 'documentation',
                          'https://docs.payments.service.gov.uk/switching_to_live/#2-connect-your-live-account-to-your-psp',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>. If you are using GOV.UK&nbsp;Pay’s PSP, Stripe, you will need to add details about your account, including your nominated responsible person.
              </p>
              <p class="govuk-body">
                You can also update your settings for things like accepted card types in the
                <%=
                  link_to 'GOV.UK&nbsp;Pay admin tool',
                          'https://selfservice.payments.service.gov.uk',
                          'data-click-events' => '',
                          'data-click-category' => 'Content',
                          'data-click-action' => 'Internal link clicked',
                          :class => 'govuk-link'
                %>
                before you take payments.
              </p>
            </div>
          </li>
        </ol>

        <h2 class="govuk-heading-m">Get in touch</h2>

        <p class="govuk-body">
          If you have any questions, or need any support, contact GOV.UK&nbsp;Pay on
          <%=
            mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk',
                    'govuk-pay-support@digital.cabinet-office.gov.uk',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Email link clicked',
                    :class => 'govuk-link'
          %>
          with any queries.
        </p>
      </div>
    </div>
  </main>
</div>
