---
title: GOV.UK payment pages
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Take payments instantly</h1>

        <p class="govuk-body">Use GOV.UK&nbsp;Pay to set up a payment page, which we call a payment link, to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>take payments instantly</li>
          <li>use debit cards, credit cards or digital wallets to take payments</li>
          <li>give full or partial refunds</li>
          <li>report on payments manually with CSV downloads or automatically via our API</li>
          <li>apply custom branding on payment pages</li>
        </ul>
        <p class="govuk-body">You do not need any technical knowledge to do this.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/register/email-address">Create an account</a>
          for free and try it yourself.
        </p>

        <h2 class="govuk-heading-m">How to take payments</h2>
        <p class="govuk-body">To get set up to take payments you need to create a payment link on GOV.UK. It takes 5 minutes to do.</p>
        <p class="govuk-body">When users access your page they’ll be able to make an online card payment to you.</p>
        <%=
          image_tag 'self-service-payments-flow.svg', alt: 'Example of the payment amount and confirmation pages of the payment link user journey.', class: 'content-section__image'
        %>

        <p class="govuk-body">Your users will receive a payment reference and a confirmation email.</p>
        <p class="govuk-body">Use the payment reference to make it easy to identify the payment. You can use numbers or words in your payment reference.</p>
        <p class="govuk-body">
          You can also create prefilled links to send to users with the amount and reference already filled in. Learn
          <a href="https://docs.payments.service.gov.uk/prefill_payment_links/" class="govuk-link">how to create prefilled links</a>.
        </p>
        <p class="govuk-body">You can also customise your GOV.UK payment page with a user-friendly web address.</p>
        <p class="govuk-body">
          You can add extra columns about your transactions to your reports. For example, to include your cost centre code or business area. This will help finance teams track and
          reconcile your payments. Reporting columns are added to your CSV payment reports.
        </p>

        <h2 class="govuk-heading-m">When to use a payment link</h2>
        <p class="govuk-body">You do not need to have a digital service to use payment links.</p>
        <p class="govuk-body">You can add a payment link to paper forms, letters, websites or emails. In fact, wherever you’d like your users to see it.</p>
        <%= image_tag 'self-service-payments-example.svg', alt: 'Examples of a payment link on a paper form or on an email.', class: 'content-section__image' %>

        <h2 class="govuk-heading-m">Create a payment link</h2>
        <p class="govuk-body">To get started you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            create a payment link in a
            <%= link_to 'test account', 'https://selfservice.payments.service.gov.uk/register/email-address', class: 'govuk-link' %>
            to see how it works
          </li>
          <li>
            <%= link_to 'watch our payment links video', 'https://www.youtube.com/watch?v=hLIS2bzfYuM', class: 'govuk-link' %>
          </li>
        </ul>
        <p class="govuk-body">
          If you want to find out more about all that GOV.UK&nbsp;Pay offers, see our
          <%= link_to 'features page', 'using-govuk-pay', class: 'govuk-link' %>.
        </p>
      </div>
    </div>
  </main>
</div>
