---
hero: true
description: GOV.UK Pay is for central government, local authorities, police and the NHS. It lets them take payments quickly, easily and securely.
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">The best way to take payments for public services</h1>
        <p class="hero__description">
          GOV.UK&nbsp;Pay has contracts with payment providers so you can take payments quickly and easily. It’s used across central and local government, police and the NHS.
        </p>
        <div class="hero__inline-image">
          <%= image_tag 'pay-top-image.png', alt: 'Payment screen on mobile and dashboard with refund function.', role: 'presentation' %>
        </div>
        <% link_to 'getstarted', :role => 'button', :class => 'govuk-button govuk-button--start button--start_white', 'data-click-events' => '', 'data-click-category' => 'Hero', 'data-click-action' => 'Internal link clicked' do %>
          Find out if you can use GOV.UK&nbsp;Pay
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        <% end %>
      </div>
      <div class="hero__aside-image">
        <%= image_tag 'pay-top-image.png', alt: 'Payment screen on mobile and dashboard with refund function.', role: 'presentation' %>
      </div>
    </div>
  </div>
</div>
<main id="main-content" class="govuk-main-wrapper" role="main">
  <div class="govuk-width-container">
    <div class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">What GOV.UK&nbsp;Pay can do</h2>
          <p class="govuk-body">GOV.UK&nbsp;Pay does more than just take card payments. It can also:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>provide a PCI DSS compliant platform</li>
            <li>take recurring payments to a schedule you can set</li>
            <li>take telephone (MOTO) payments so your users can pay by telephoning your call centre</li>
            <li>integrate with GOV.UK&nbsp;Forms and finance software</li>
            <li>give you real-time information on your payments</li>
            <li>take digital wallet payments with Apple&nbsp;Pay and Google&nbsp;Pay</li>
          </ul>
          <p class="govuk-body">We’re adding <%= link_to 'new features', 'using-govuk-pay', class: 'govuk-link' %> all the time.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <%=
            image_tag 'product-page_images_user-screen.svg',
                      alt: 'A user-facing payment page with entry fields for card details and a payment summary.',
                      class: 'content-section__image'
          %>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="content-section__title govuk-heading-m">What’s coming</h2>
          <p class="govuk-body">
            We’re updating GOV.UK&nbsp;Pay to manage not just card payments but other ways to pay as well. We plan to use pay by bank, which could make payments faster and cheaper
            while keeping them secure.
          </p>
          <p class="govuk-body">Read our <%= link_to 'roadmap', 'roadmap', class: 'govuk-link' %>&nbsp;to see what we’ve been working on recently and what’s coming next.</p>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Payment links: no tech knowledge needed</h2>
          <p class="govuk-body govuk-!-margin-bottom-9">
            <%= link_to 'Payment links', 'govuk-payment-pages', class: 'govuk-link' %> are pages people can use to pay you. You can create them easily without needing any technical
            knowledge.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-9">You can even use your own custom branding so users trust they are paying correctly.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <%=
            image_tag 'product-page_images_example_service.svg',
                      alt: 'A user-facing payment page with information about what the payment is about and an input box to input the price.',
                      class: 'content-section__image'
          %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Or use GOV.UK&nbsp;Pay’s API in your digital service</h2>
          <p class="govuk-body">
            We also have an API so you can seamslessly
            <%= link_to 'integrate GOV.UK&nbsp;Pay into your full digital service.', 'api-integration', class: 'govuk-link' %>
          </p>
          <p class="govuk-body">The API is based on REST principles with endpoints returning data in JSON format. Our API lets you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>begin and complete payments</li>
            <li>view the event history for individual payments</li>
            <li>view transactions, refunds, and disputes within a specified time period</li>
            <li>issue full or partial refunds</li>
            <li>create agreements to take recurring payments</li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <%=
            image_tag 'product-page_images_api_json_example.svg',
                      alt: 'A screenshot of an extract of JSON code that would be used in an API call to GOV.UK&nbsp;Pay.',
                      class: 'content-section__image'
          %>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Who’s using GOV.UK&nbsp;Pay?</h2>
          <p class="govuk-body">GOV.UK&nbsp;Pay is used by a range of services from applying for a passport to getting a Blue Badge in Kent.</p>
          <p class="govuk-body">
            See all the
            <%= link_to 'services using GOV.UK&nbsp;Pay', 'performance', class: 'govuk-link' %>.
          </p>
        </div>
        <div class="govuk-grid-column-one-half .why-use-govuk-pay">
          <div class="govuk-body govuk-!-font-size-24">
            <span class="govuk-visually-hidden">There are</span>
            <div class="govuk-!-font-size-36 govuk-!-font-weight-bold">1,500+</div>
            live services<span class="govuk-visually-hidden">.</span>
          </div>
          <div class="govuk-body govuk-!-font-size-24">
            <div class="govuk-!-font-size-36 govuk-!-font-weight-bold">70,000+</div>
            payments processed every day<span class="govuk-visually-hidden">.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full organisations-grid">
          <%= image_tag 'logos/hmpo.png', alt: 'HM Passport Office', class: 'content-section__image organisations-grid__logo' %>
          <%= image_tag 'logos/moj.png', alt: 'Ministry of Justice', class: 'content-section__image organisations-grid__logo' %>
          <%= image_tag 'logos/mod.png', alt: 'Ministry of Defence', class: 'content-section__image organisations-grid__logo' %>
          <%= image_tag 'logos/nhs.jpg', alt: 'NHS', class: 'content-section__image organisations-grid__logo--small' %>
          <%= image_tag 'logos/essex-police.png', alt: 'Essex Police', class: 'content-section__image organisations-grid__logo--small' %>
          <%= image_tag 'logos/dorset-council.svg', alt: 'Dorset Council', class: 'content-section__image organisations-grid__logo--small' %>
        </div>
      </div>
    </div>

    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="content-section__title govuk-heading-m">Secure, reliable and accessible</h2>
          <p class="govuk-body">
            GOV.UK&nbsp;Pay is built by the Government Digital Service. It is robust, secure and fully Payment Card Industry Data Security Standard (PCI DSS) compliant. It is
            supported 24 hours a day, 7 days a week. Our uptime is 99.99%. Read more about our <%= link_to 'security and compliance', 'security', class: 'govuk-link' %>.
          </p>
          <p class="govuk-body">
            Read the
            <%= link_to 'accessibility statement', 'accessibility-statement', class: 'govuk-link' %>
            to check how it meets accessibility standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
