---
hero: true
description: Take and process online payments from your users - GOV.UK Pay is a free and secure online payment service for government and public sector organisations.
---

<div class="masthead">
  <div class="hero hero--breaded">
    <div class="govuk-breadcrumbs breadcrumbs-hero" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">GOV.UK Pay</a>
        </li>
      </ol>
    </div>
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Take online payments from your users</h1>
        <div class="hero__inline-image">
          <%= image_tag 'pay-top-image.png', alt: 'Payment screen on mobile and dashboard with refund function.', role: 'presentation' %>
        </div>
        <p class="hero__description">If you work in the public sector, use GOV.UK Pay to take payments</p>
        <% link_to 'getstarted', :role => 'button', :class => 'govuk-button govuk-button--start button--start_white', 'data-click-events' => '', 'data-click-category' => 'Hero', 'data-click-action' => 'Internal link clicked' do %>
          Create a test account
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        <% end %>
        <span class="hero-alternative-action">
          or
          <%=
            link_to 'find out what GOV.UK Pay offers', 'using-govuk-pay', 'data-click-events' => '', 'data-click-category' => 'Hero', 'data-click-action' => 'Internal link clicked'
          %>
        </span>
      </div>
      <div class="hero__aside-image">
        <%= image_tag 'pay-top-image.png', alt: 'Payment screen on mobile and dashboard with refund function.', role: 'presentation' %>
      </div>
    </div>
  </div>
</div>
<main id="main-content" class="govuk-main-wrapper" role="main">
  <div class="govuk-width-container">
    <div class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Take payments instantly</h2>
          <p class="govuk-body">Use GOV.UK Pay and be ready to take online payments in minutes.</p>
          <p class="govuk-body">There are no monthly bills, setup or upgrade fees.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <%=
            image_tag 'product-page_images_user-screen.svg',
                      alt: 'A user-facing payment page with entry fields for card details and a payment summary. A helpful inline error message responds to user input.',
                      class: 'content-section__image'
          %>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Manage your payments</h2>
          <p class="govuk-body">Take payments, issue refunds and run reports on all your payments.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <%= image_tag 'product-page_images_transaction-screen.svg', alt: 'Dashboard showing a list of transactions with search filters.', class: 'content-section__image' %>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <h2 class="content-section__title govuk-heading-m">Create a hosted payment page or integrate your existing service</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-9">
            If you want to take online payments and don’t have an online service,
            <%= link_to 'create a GOV.UK payment page', 'govuk-payment-pages', class: 'govuk-link' %>.
          </p>
          <%=
            image_tag 'product-page_images_payment-link.svg',
                      alt: 'A user-facing payment page with information about what the payment is about and an input box to input the price.',
                      class: 'content-section__image'
          %>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-9">
            If you
            <%= link_to 'integrate your online service', 'api-integration', class: 'govuk-link' %>
            you’ll get greater control over your payments.
          </p>
          <%=
            image_tag 'product-page_images_api_json_example.svg',
                      alt: 'A screenshot of an extract of JSON code that would be used in an API call to GOV.UK Pay.',
                      class: 'content-section__image'
          %>
        </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="content-section__title govuk-heading-m">Used and trusted across government</h2>
          <p class="govuk-body">Partners from right across the public sector are already using GOV.UK Pay, including the NHS, MOJ, police forces and local authorities.</p>
          <p class="govuk-body">
            See all the
            <%= link_to 'services using GOV.UK Pay', 'performance', class: 'govuk-link' %>
            .
          </p>
        </div>
        <div class="govuk-grid-column-one-half partner-grid">
          <%= image_tag 'logos/home-office.png', alt: 'Home Office', class: 'content-section__image partner-logo' %>
          <%= image_tag 'logos/moj.png', alt: 'Ministry of Justice', class: 'content-section__image partner-logo' %>
          <%= image_tag 'logos/dit.png', alt: 'Department for International Trade', class: 'content-section__image partner-logo' %>
          <%= image_tag 'logos/fcdo.png', alt: 'Foreign, Commonwealth & Development Office', class: 'content-section__image partner-logo partner-logo--fcdo' %>
          <%= image_tag 'logos/mod.png', alt: 'Ministry of Defence', class: 'content-section__image partner-logo' %>
          <%= image_tag 'logos/nhs.png', alt: 'NHS', class: 'content-section__image partner-logo' %>
        </div>
      </div>
      <div class="content-section content-section--with-top-border">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="content-section__title govuk-heading-m">Security and relevant standards built in</h2>
            <p class="govuk-body">GOV.UK Pay is robust, secure and fully Payment Card Industry (PCI) compliant.</p>
            <p class="govuk-body">
              Read the
              <%= link_to 'accessibility statement', 'accessibility-statement', class: 'govuk-link' %>
              to check how it meets accessibility standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
