---
title: Privacy notice
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third sticky">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Link clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <%
              {
                'Who we are' => '#who-we-are',
                'Why we need your data' => '#why-we-need-your-data',
                'What data we need' => '#what-data-we-need',
                'What we do with your data' => '#what-we-do-with-your-data',
                'How long we keep your data' => '#how-long-we-keep-your-data',
                'How we protect your data and keep it secure' => '#how-we-protect-your-data-and-keep-it-secure',
                'Who your data might be shared with' => '#who-your-data-might-be-shared-with',
                'Children’s privacy protection' => '#childrens-privacy-protection',
                'What are your rights' => '#what-are-your-rights',
                'Changes to this notice' => '#changes-to-this-notice',
                'Questions and complaints' => '#questions-and-complaints'
              }.each do |title, url|
            %>
              <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <% link_to url, class: 'govuk-link', :itemprop => 'item' do %>
                  <span itemprop="name"><%= title %></span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </nav>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="heading-1">Privacy notice</h1>
        <p class="govuk-body-l">Last updated: 7 April 2025</p>

        <h2 class="govuk-heading-m" id="who-we-are">Who we are</h2>
        <p class="govuk-body">
          GOV.UK&nbsp;Pay is a payments service that’s built and maintained by the Government Digital Service, which is part of the Cabinet Office (“GDS”, “we”, “us”, “our”).
        </p>
        <p class="govuk-body">
          Public sector organisations use GOV.UK&nbsp;Pay to take payments online and over the phone. To do that, we collect, process and store certain data about you, acting as a
          data processor on behalf of these organisations. The organisations using GOV.UK&nbsp;Pay are the data controllers and they will have a privacy notice governing how they
          process and manage your data.
        </p>

        <p class="govuk-body">This privacy notice explains:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the kinds of data we collect and process in order to provide the payments service</li>
          <li>how that data is used</li>
          <li>how that data is protected</li>
          <li>how you can find out what rights you have in relation to your data</li>
        </ul>
        <p class="govuk-body">
          Read the
          <%= link_to 'Cabinet Office’s entry in the Data Protection Public Register', 'https://ico.org.uk/ESDWebPages/Entry/Z7414053', class: 'govuk-link' %>
          for more information.
        </p>

        <h2 class="govuk-heading-m" id="why-we-need-your-data">Why we need your data</h2>
        <p class="govuk-body">
          When you make a payment to a public sector organisation using GOV.UK&nbsp;Pay, we collect and process data about you in order to process that payment, and to monitor our
          service to protect against fraud and errors.
        </p>

        <h2 class="govuk-heading-m" id="what-data-we-need">What data we need</h2>

        <h3 class="govuk-heading-s">Contact details</h3>
        <p class="govuk-body">We will collect personal data that includes your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>names</li>
          <li>email addresses</li>
          <li>billing addresses</li>
        </ul>

        <h3 class="govuk-heading-s">Bank card details</h3>
        <p class="govuk-body">We will collect bank card data that includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name on the relevant credit or debit card</li>
          <li>card type, like a debit or credit card</li>
          <li>card expiry date</li>
          <li>credit or debit card number - we will only keep the first six and last four digits for our records once the payment is made</li>
          <li>credit or debit card security code - this is not kept after the payment is processed</li>
        </ul>

        <h3 class="govuk-heading-s">Payment transaction details</h3>
        <p class="govuk-body">We will collect payment transaction data that includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>payment amounts and frequencies including dates</li>
          <li>payment statuses</li>
          <li>payment descriptions</li>
          <li>payment gateway transaction ID</li>
          <li>a reference number provided by the public sector organisation</li>
          <li>IP address of devices used to make payments</li>
          <li>any additional information provided by the public sector organisation which they wish to associate with your payment</li>
        </ul>

        <h2 class="govuk-heading-m" id="what-we-do-with-your-data">What we do with your data</h2>
        <p class="govuk-body">We will use your data for different purposes.</p>

        <h3 class="govuk-heading-s">Taking payments</h3>
        <p class="govuk-body">We use your data to process the payment you have requested.</p>
        <p class="govuk-body">
          If you enter into an agreement with a public sector organisation to allow them to take recurring payments, we will process your data in order to facilitate this process.
          Card details are securely stored for the duration of your agreement by the relevant payment provider that’s connected to the organisation you are paying. Stored card
          details are then used to process payments when requested by the public sector organisation.
        </p>

        <h3 class="govuk-heading-s">Enabling public sector organisations to manage payments</h3>
        <p class="govuk-body">
          The public sector organisation who requested your payment will have access to information about these payments through GOV.UK&nbsp;Pay. This is in order to allow them to
          perform any necessary administration and management such as financial reconciliation, reporting, or as part of delivering and operating their service.
        </p>

        <h3 class="govuk-heading-s">Operation of GOV.UK&nbsp;Pay</h3>
        <p class="govuk-body">Members of the GOV.UK&nbsp;Pay team have access to information about payments and transactions processed on the platform in order to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ensure that GOV.UK&nbsp;Pay operates as expected</li>
          <li>respond to any queries raised by the organisation or the payment provider in respect of the service</li>
        </ul>

        <p class="govuk-body">We also collect aggregated anonymised statistics, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the number and aggregate value of payments processed by each public sector organisation who use GOV.UK&nbsp;Pay</li>
          <li>rates of successful and failed payments</li>
        </ul>

        <p class="govuk-body">
          We use these for performance, reporting and continuous improvement. We may also share aggregate data with other public sector and government entities.
        </p>

        <h2 class="govuk-heading-m" id="how-long-we-keep-your-data">How long we keep your data</h2>
        <p class="govuk-body">We will only retain your data for as long as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>it’s needed for the purposes set out in this document</li>
          <li>is required by law</li>
        </ul>
        <p class="govuk-body">In general, this means that we will only hold your personal data for a minimum of 1 year and a maximum of 7 years.</p>

        <h2 class="govuk-heading-m" id="how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure</h2>
        <p class="govuk-body">
          We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored. We set up systems
          and processes to prevent unauthorised access or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption. From
          time to time we will test the system for security vulnerabilities.
        </p>

        <p class="govuk-body">
          Your personal data may, throughout the course of its processing at GDS, be transferred outside the UK. Where this is the case all appropriate technical and legal
          safeguards will be put in place to make sure that you are afforded the same level of protection as within the UK. We will only transfer your data to another country if we
          are sure that there is enough protection in place to make sure that your data is secure.
        </p>

        <h2 class="govuk-heading-m" id="who-your-data-might-be-shared-with">Who your data might be shared with</h2>
        <p class="govuk-body">There may be times when we need to share your data.</p>

        <h3 class="govuk-heading-s">Payment providers</h3>
        <p class="govuk-body">We use payment providers to process your payment.</p>

        <p class="govuk-body">
          Your personal data will be provided to the relevant payment provider that’s connected to the public sector organisation you are paying. You can find their privacy notices
          below:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= link_to 'Worldpay Privacy Policy', 'https://privacy.worldpay.com/policies/en/', class: 'govuk-link' %>
          </li>
          <li>
            <%= link_to 'Stripe Privacy Policy', 'https://stripe.com/en-gb/privacy', class: 'govuk-link' %>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Legal and regulatory entities</h3>
        <p class="govuk-body">
          We may have to share your personal data with law enforcement agencies or regulatory bodies if we have to comply with any legal obligation or court order.
        </p>

        <p class="govuk-body">We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell or rent your data to third parties</li>
          <li>share your data with third parties for marketing purposes</li>
        </ul>

        <h2 class="govuk-heading-m" id="childrens-privacy-protection">Children’s privacy protection</h2>
        <p class="govuk-body">
          Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about
          anyone under the age of 13.
        </p>

        <h2 class="govuk-heading-m" id="what-are-your-rights">What are your rights</h2>
        <p class="govuk-body">You have the right to request:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>information about how your personal data is processed</li>
          <li>a copy of that personal data</li>
          <li>that anything inaccurate in your personal data is corrected immediately</li>
        </ul>

        <p class="govuk-body">You can also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>raise an objection about how your personal data is processed</li>
          <li>request that your personal data is erased if there is no longer a justification for it</li>
          <li>ask that the processing of your personal data is restricted in certain circumstances</li>
        </ul>

        <p class="govuk-body">If you have any of these requests, get in contact with our Data Protection Officer - the contact details are at the bottom of the page.</p>

        <h2 class="govuk-heading-m" id="changes-to-this-notice">Changes to this notice</h2>
        <p class="govuk-body">
          We may change this privacy notice. In that case the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and
          your data immediately. If these changes affect how your personal data is processed, GDS will take reasonable steps to make sure you know.
        </p>

        <h2 class="govuk-heading-m" id="questions-and-complaints">Questions and complaints</h2>
        <p class="govuk-body">
          Contact
          <%= mail_to 'gds-privacy-office@digital.cabinet-office.gov.uk', 'gds-privacy-office@digital.cabinet-office.gov.uk', class: 'govuk-link' %>
          if you either:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have any questions about anything in this document</li>
          <li>think that your personal data has been misused or mishandled</li>
        </ul>

        <p class="govuk-body">
          You can also contact the Cabinet Office Data Protection Officer.<br />
          <%= mail_to 'DPO@cabinetoffice.gov.uk', 'DPO@cabinetoffice.gov.uk', class: 'govuk-link' %><br />
          Cabinet Office<br />
          70 Whitehall<br />
          London SW1A 2AS
        </p>

        <p class="govuk-body">
          If you have a complaint, you can also contact the
          <%= link_to 'Information Commissioner', 'https://ico.org.uk/', class: 'govuk-link' %>, who is an independent regulator set up to uphold information rights.
        </p>

        <p class="govuk-body">
          <%= mail_to 'casework@ico.org.uk', 'casework@ico.org.uk', class: 'govuk-link' %><br />
          <%= tel_to '0303 123 1113', class: 'govuk-link' %><br />
          Wycliffe House<br />
          Water Lane<br />
          Wilmslow<br />
          Cheshire SK9 5AF
        </p>
      </div>
    </div>
  </main>
</div>
