---
title: reCAPTCHA notice
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third sticky">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Link clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <%
              {
                'Who we are' => '#who-we-are',
                'Detection of fraud' => '#detection-of-fraud',
                'Personal data processed' => '#personal-data-processed',
                'Lawful basis' => '#lawful-basis',
                'How we protect your data and keep it secure' => '#how-we-protect-your-data',
                'How long we keep your data' => '#how-long-we-keep-your-data',
                'Your rights' => '#your-rights',
                'Changes to this notice' => '#changes-to-this-notice',
                'Questions and complaints' => '#questions-and-complaints'
              }.each do |title, url|
            %>
              <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <% link_to url, class: 'govuk-link', :itemprop => 'item' do %>
                  <span itemprop="name"><%= title %></span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </nav>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="heading-1">reCAPTCHA notice</h1>
        <p class="govuk-body-l">Last updated: 5 October 2021</p>

        <h2 class="govuk-heading-m" id="who-we-are">Who we are</h2>
        <p class="govuk-body">
          GOV.UK&nbsp;Pay is part of the Cabinet Office. The data controller for GOV.UK&nbsp;Pay is the Cabinet Office. A data controller determines how and why personal data can
          be processed. Read the
          <%= link_to 'Cabinet Office’s entry in the data protection public register', 'https://ico.org.uk/ESDWebPages/Entry/Z7414053', class: 'govuk-link' %>
          for more information.
        </p>

        <p></p>

        <h2 class="govuk-heading-m" id="detection-of-fraud">Detection of fraud</h2>
        <p class="govuk-body">
          In some limited circumstances, we may use Google reCAPTHCA to help us detect fraudulent activity. You’ll be required to check an ‘I’m not a robot’ checkbox and possibly
          complete a picture challenge.
        </p>
        <p class="govuk-body">
          Google reCAPTCHA uses an essential cookie. Further information about this is available in the
          <%= link_to 'Cookie notice', 'cookies', class: 'govuk-link' %>.
        </p>

        <h2 class="govuk-heading-m" id="personal-data-processed">Personal data processed</h2>
        <p class="govuk-body">The cookie collects technical and behavioural information which will be shared with our data processor, Google.</p>

        <h2 class="govuk-heading-m" id="lawful-basis">Lawful basis</h2>
        <p class="govuk-body">Our lawful basis for doing this is that it is in our <strong>legitimate interest</strong> to protect the financial details of card users.</p>
        <p class="govuk-body">You have the right to object to the processing of your personal data.</p>

        <h2 class="govuk-heading-m" id="how-we-protect-your-data">How we protect your data and keep it secure</h2>
        <p class="govuk-body">
          We use Google reCaptcha as our service provider to prevent fraud. Your data may be processed outside the United Kingdom while this is being done. Your data will receive
          the same legal protections as it does in the UK through the use of
          <%=
            link_to 'Standard Contract Clauses',
                    'https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en',
                    class: 'govuk-link'
          %>.
        </p>

        <h2 class="govuk-heading-m" id="how-long-we-keep-your-data">How long we keep your data</h2>
        <p class="govuk-body">We will keep your data for as long as required to complete our purposes.</p>

        <h2 class="govuk-heading-m" id="your-rights">Your rights</h2>
        <p class="govuk-body">You have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>object to GDS processing your personal data where we rely on legitimate interest</li>
        </ul>

        <p class="govuk-body">You also have the right to request:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>information about how your personal data is processed</li>
          <li>a copy of that personal data</li>
          <li>that anything inaccurate in your personal data is corrected without undue delay</li>
        </ul>

        <p class="govuk-body">You can also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>request that your personal data is erased if there is no longer a justification for it</li>
          <li>ask that the processing of your personal data is restricted in certain circumstances</li>
        </ul>

        <p class="govuk-body">If your personal data is processed on the basis of a contract that you have with GDS, you also have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>request a copy of your personal data. We will deliver your data in a structured, commonly used and machine-readable format to enable portability.</li>
        </ul>

        <p class="govuk-body">
          For more information about your rights, read
          <%= link_to 'advice from the Information Commissioner’s Office', 'https://ico.org.uk/your-data-matters/', class: 'govuk-link' %>.
        </p>

        <h2 class="govuk-heading-m" id="changes-to-this-notice">Changes to this notice</h2>
        <p class="govuk-body">
          We may change these privacy notices. At the beginning of the page, the ‘last updated’ date will show when we made the changes. Any changes to these notices will apply to
          you and your data immediately. If these changes affect how your personal data is processed, GDS will take reasonable steps to make sure you know.
        </p>

        <h2 class="govuk-heading-m" id="questions-and-complaints">Questions and complaints</h2>
        <p class="govuk-body">Contact the GDS Privacy Team if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have any questions about anything in this document</li>
          <li>think that your personal data has been misused or mishandled</li>
          <li>
            want to make a
            <%= link_to 'subject access request (SARS)', 'https://ico.org.uk/for-the-public/your-right-to-get-copies-of-your-data/', class: 'govuk-link' %>
          </li>
        </ul>

        <p class="govuk-body">
          Email:
          <%= mail_to 'gds-privacy-office@digital.cabinet-office.gov.uk', 'gds-privacy-office@digital.cabinet-office.gov.uk', class: 'govuk-link' %>
        </p>

        <p class="govuk-body">The contact details for the Cabinet Office’s Data Protection Officer are:</p>

        <p class="govuk-body">
          Data Protection Officer<br />
          Cabinet Office<br />
          70 Whitehall<br />
          London<br />
          SW1A 2AS
        </p>

        <p class="govuk-body">Email: <%= mail_to 'DPO@cabinetoffice.gov.uk', 'DPO@cabinetoffice.gov.uk', class: 'govuk-link' %></p>

        <p class="govuk-body">You can also complain to the Information Commissioner, who is an independent regulator.</p>
        <p></p>

        <p class="govuk-body">Information Commissioner’s Office</p>
        <p class="govuk-body">Email: <%= mail_to 'casework@ico.org.uk', 'casework@ico.org.uk', class: 'govuk-link' %></p>
        <p class="govuk-body"><%= link_to 'Contact details', 'https://ico.org.uk/global/contact-us/', class: 'govuk-link' %></p>

        <p class="govuk-body">Telephone <%= tel_to '0303 123 1113', class: 'govuk-link' %></p>
        <p></p>
        <p class="govuk-body">Textphone <%= tel_to '01625 545 860', class: 'govuk-link' %></p>
      </div>
    </div>
  </main>
</div>
