---
title: Roadmap
---

<div class="govuk-width-container">
  <%= partial 'partials/breadcrumb.html.erb' %>

  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Roadmap</h1>
        <p class="govuk-body">
          We want to keep making GOV.UK&nbsp;Pay better by adding new features and making sure it's safe and works well for both public sector service teams and paying users.
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            This is a record of what we've done, and a plan for what we want to improve next. Our plans can change based on what we learn from testing the product and speaking to
            our users. We work in 3-monthly cycles.
          </p>
        </div>
        <h2 class="govuk-heading-l">Recently released</h2>
        <h3 class="govuk-heading-m">Recurring card payments</h3>
        <p class="govuk-body">
          The first service has started using
          <%= link_to 'recurring payments', 'https://docs.payments.service.gov.uk/recurring_payments/', class: 'govuk-link' %> through GOV.UK Pay. Kent County Council are using it
          for their Trading Standards Checked service. This makes it simpler for people to pay for things regularly and easier for service teams to collect payments. If you're
          interested in using recurring payments, get in touch.
        </p>
        <h3 class="govuk-heading-m">Digital wallets</h3>
        <p class="govuk-body">
          GOV.UK Pay now lets people pay for local government and police services (using Stripe as their provider) using Apple Pay and Google Pay. Previously this was only
          available to central government and NHS services using Worldpay. Wallets make paying safer and easier, and help more payments go through successfully by reducing mistakes
          associated with manually typing card information.
        </p>
        <h3 class="govuk-heading-m">Data security standard</h3>
        <p class="govuk-body">
          By passing an assessment called the Payment Card Industry Data Security Standard for 2023, we've made our security stronger. This takes the complexity of dealing with
          these rules away from public service teams. It also means that GOV.UK Pay can safely manage personal information when users are making payments.
        </p>
        <h3 class="govuk-heading-m">Use an external telephone payment system to send card details to the API</h3>
        <p class="govuk-body">
          Services can now use external telephone payment systems to collect card details and send them to GOV.UK&nbsp;Pay via
          <%= link_to 'a new API', 'https://docs.payments.service.gov.uk/send_card_details_api', class: 'govuk-link' %>. This allows these payments to be processed and reported in
          the same way as online payments through GOV.UK&nbsp;Pay.
        </p>
        <h2 class="govuk-heading-l">What we’re doing now</h2>
        <h3 class="govuk-heading-m">Learning about open banking</h3>
        <p class="govuk-body">We're looking at using open banking, which could make payments faster and cheaper while keeping them secure.</p>
        <h3 class="govuk-heading-m">Accepting new payment types</h3>
        <p class="govuk-body">
          Related to the open banking work, we're updating our system to manage not just card payments but other ways to pay as well. This change is important because it means
          paying users of government services will have more options, making GOV.UK Pay able to adapt to different needs. More payment options make it simpler for everyone to use
          government services in the way that works best for them, and allows more public services to benefit from using us. We're looking at using open banking, which could make
          payments faster and cheaper while keeping them secure.
        </p>
        <h3 class="govuk-heading-m">Accessibility</h3>
        <p class="govuk-body">We're making sure our service can be used by everyone, following the latest Web Content Accessibility Guidelines 2.2 (WCAG 2.2).</p>
        <h3 class="govuk-heading-m">Data deletion</h3>
        <p class="govuk-body">We have reviewed our data retention schedules. We continue to make sure personal data is deleted or redacted within 7 years.</p>
        <h3 class="govuk-heading-m">Database upgrades</h3>
        <p class="govuk-body">We are upgrading 5 of our main databases in GOV.UK Pay to the latest Postgres version.</p>
        <h2 class="govuk-heading-l">What's next</h2>
        <h3 class="govuk-heading-m">Recurring payments improvements</h3>
        <p class="govuk-body">We'll use feedback from services and paying users to improve how recurring payments work.</p>
        <h3 class="govuk-heading-m">Improving transaction search</h3>
        <p class="govuk-body">We're going to make it easier to find and manage transactions in the admin tool.</p>
        <h3 class="govuk-heading-m">Strengthening our security</h3>
        <p class="govuk-body">We're getting ready for a new security standard called Payment Card Industry Data Security Standard 4.0 to keep users' information safe.</p>
        <h2 class="govuk-heading-l">Future plans</h2>
        <h3 class="govuk-heading-m">Procuring new card payment suppliers</h3>
        <p class="govuk-body">
          We're planning to get the best new card payment suppliers, to make sure service teams and paying users have the best value for money and experience when using GOV.UK Pay.
        </p>
        <h3 class="govuk-heading-m">Improve how we handle data</h3>
        <p class="govuk-body">
          We're planning to get the best new card payment suppliers, to make sure service teams and paying users have the best value for money and experience when using GOV.UK Pay.
        </p>
        <h3 class="govuk-heading-m">Improve payment reconciliation</h3>
        <p class="govuk-body">We want to simplify the processes with Stripe and Worldpay to help service teams reconcile payments more quickly and efficiently.</p>
        <h3 class="govuk-heading-m">Annual security checks</h3>
        <p class="govuk-body">
          We'll continue to stay up to date with our annual PCI compliance evaluations, meeting our commitment to keep our users' payment experience safe and secure.
        </p>
        <h3 class="govuk-heading-m">Linking with other government finance systems</h3>
        <p class="govuk-body">
          We want to make it easier to connect GOV.UK Pay with Enterprise Resource Planning (ERP) systems. This can reduce the need to manually process data when doing
          reconciliations and refunds.
        </p>
        <h4 class="govuk-heading-s">Now</h4>
        <p class="govuk-body">Some services are testing the functionality in a private beta sandbox.</p>
        <h4 class="govuk-heading-s">Next</h4>
        <p class="govuk-body">Before the end of 2022, private beta services will be able to take live recurring payments.</p>
        <h4 class="govuk-heading-s">Later</h4>
        <p class="govuk-body">We’ll iterate based on what we learn and plan to release the functionality to all services.</p>
        <p class="govuk-body">
          Email
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>
          if you’d like to be part of our research and testing.
        </p>
        <h3 class="govuk-heading-m">Better support for reconciling payments and processing invoices</h3>
        <p class="govuk-body">
          We want to better support financial processes for inbound payments. Enterprise resource planning (ERP) software is used as part of these processes in central government.
        </p>
        <p class="govuk-body">
          As part of the
          <%= link_to 'Government Shared Services strategy', 'https://www.gov.uk/government/publications/a-shared-services-strategy-for-government', class: 'govuk-link' %>,
          departments are adopting cloud-based ERP software, creating new opportunities for GOV.UK&nbsp;Pay to make finance processes easier and cheaper.
        </p>
        <h4 class="govuk-heading-s">Now</h4>
        <p class="govuk-body">We’re working with the Government Finance Function to ensure that GOV.UK&nbsp;Pay will be integrated with all ERP systems that are adopted.</p>
        <h2 class="govuk-heading-l">Get in touch</h2>
        <p class="govuk-body">
          Email
          <%= mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk', 'govuk-pay-support@digital.cabinet-office.gov.uk', class: 'govuk-link' %>
          if you’d like to be involved in research, if you have any questions, or if there are other features you’d like us to develop.
        </p>
        <p class="govuk-body">
          <%=
            link_to 'Sign up to GOV.UK&nbsp;Pay updates', 'https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform', class: 'govuk-link'
          %>
          to find out more about what we’re working on and our plans for the future.
        </p>
      </div>
    </div>
  </main>
</div>
