---
title: Security and compliance
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Security and compliance</h1>

        <p class="govuk-body">GOV.UK&nbsp;Pay provides a safe and Payment Card Industry (PCI) compliant platform to process card payments.</p>

        <p class="govuk-body">
          You can find more information about our security and compliance in the
          <%=
            link_to 'memorandum of understanding (for crown bodies)',
                    'https://selfservice.payments.service.gov.uk/policy/memorandum-of-understanding-for-crown-bodies',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>
          and
          <%=
            link_to 'contract (for non-crown bodies',
                    'https://selfservice.payments.service.gov.uk/policy/contract-for-non-crown-bodies',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>, for example local authorities and the NHS). These are available in the footer when you sign in to your account.
        </p>

        <h2 class="govuk-heading-m">PCI compliance</h2>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay is certified as a level 1 service provider with the Payment Card Industry Data Security Standard (PCI DSS) version 4.0.1. The PCI DSS provides guidance to
          help maintain payment security.
        </p>

        <p class="govuk-body">
          If you need to see
          <%=
            link_to 'proof of our compliance',
                    'https://selfservice.payments.service.gov.uk/policy/pci-dss-attestation-of-compliance',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>&nbsp;(also known as ‘attestation of compliance’), just sign in to your test account and you’ll find a link to it in the footer.
        </p>

        <p class="govuk-body">
          If you’d like to
          <%= link_to 'take payments by phone or post', 'take-payments-by-phone-or-post', class: 'govuk-link' %>, you’ll also need to confirm to us that you are PCI compliant.
        </p>

        <p class="govuk-body">
          <%=
            link_to 'More information about PCI compliance is in our technical documentation',
                    'https://docs.payments.service.gov.uk/security/#payment-card-industry-pci-compliance',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>

        <h2 class="govuk-heading-m">Government security guidelines</h2>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay supports the
          <%=
            link_to 'government HTTPS security guidelines',
                    'https://www.gov.uk/service-manual/technology/using-https',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>
        <p class="govuk-body">
          HTTPS protects information from being intercepted by malicious third parties as it travels over the internet. Using HTTPS ensures our connections on GOV.UK&nbsp;Pay are
          secure.
        </p>
        <p class="govuk-body">GOV.UK&nbsp;Pay also supports all the mandatory requirements for Government ICT systems and services.</p>

        <h2 class="govuk-heading-m">GOV.UK&nbsp;Pay is independently tested</h2>

        <p class="govuk-body">The GOV.UK&nbsp;Pay environment is regularly tested by independent suppliers.</p>

        <p class="govuk-body">This includes:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>at least one annual IT Health Check</li>
          <li>internal and external vulnerability scanning</li>
        </ul>

        <p class="govuk-body">GOV.UK&nbsp;Pay is also independently assessed for its PCI DSS compliance.</p>

        <h2 class="govuk-heading-m">Data handling</h2>

        <p class="govuk-body">We only collect the data necessary to run GOV.UK&nbsp;Pay.</p>

        <p class="govuk-body">
          We will not retain that data any longer than we need it, and definitely no longer than 7 years, and only share it if it’s necessary to run GOV.UK&nbsp;Pay or if required
          by law.
        </p>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay is the data processor and your service is the data controller. The data protection/data processing agreement is in schedule 4 of the memorandum of
          understanding and schedule 5 of the contract.
        </p>

        <h2 class="govuk-heading-m">Liability</h2>

        <p class="govuk-body">Section 13 in the memorandum of understanding and contract sets out the liability between GOV.UK&nbsp;Pay and your service.</p>

        <h2 class="govuk-heading-m">Fraud prevention</h2>

        <p class="govuk-body">
          While anti-fraud measures are generally set by your payment service provider, we have
          <%=
            link_to 'designed some features to help',
                    'https://docs.payments.service.gov.uk/security/#preventing-fraudulent-payments',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>

        <p class="govuk-body">
          For instance, you can block users from using prepaid cards to make payments. Or, Worldpay users can set their account to refuse a transaction if IP address isn’t
          provided. This is particularly useful if your service has a higher risk profile.
        </p>

        <h2 class="govuk-heading-m">Cloud Security Principles</h2>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay has implemented the
          <%=
            link_to 'NCSC Cloud Security Principles',
                    'https://www.ncsc.gov.uk/collection/cloud-security?curPage=/collection/cloud-security/implementing-the-cloud-security-principles',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>

        <h2 class="govuk-heading-m">Accessibility</h2>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay is compliant with the
          <%=
            link_to 'Web Content Accessibility Guidelines version 2.2',
                    'https://www.w3.org/TR/WCAG22/',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>
          with no known failures. More information is in our <%= link_to 'accessibility statement', 'accessibility-statement', class: 'govuk-link' %>.
        </p>

        <h2 class="govuk-heading-m">GOV.UK Service Manual</h2>
        <p class="govuk-body">
          GDS services follow the standards described in the
          <%=
            link_to 'GOV.UK Service Manual',
                    'https://www.gov.uk/service-manual',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>

        <p class="govuk-body">The standards describe the best way to build and run a service and include advice about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>accessibility and assisted digital</li>
          <li>agile delivery</li>
          <li>design</li>
          <li>technology</li>
        </ul>

        <h2 class="govuk-heading-m">Further information</h2>

        <p class="govuk-body">
          Further detail about security and compliance is available in the memorandum of understanding (for crown bodies) and contract (for non-crown bodies) and in our
          <%=
            link_to 'technical documentation',
                    'https://docs.payments.service.gov.uk/security/#security',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>.
        </p>
      </div>
    </div>
  </main>
</div>
